<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--dataSource 指连接源配置，POOLED是JDBC连接对象的数据源连接池的实现-->
    <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybbs"></property>
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
    </dataSource>
    <mappers>
        <!--这是告诉Mybatis区哪找持久化类的映射文件，对于在src下的文件直接写文件名，
            如果在某包下，则要写明路径,如：com/mybatistest/config/User.xml-->
        <mapper resource="UserDaoMapper.xml"></mapper>
    </mappers>
</configuration>